@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = "Quên mật khẩu";
}

<h2>Quên mật khẩu</h2>

@using (Html.BeginForm("ForgotPassword", "LoginUser", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group mb-3">
        <label for="EmailOrUsername">Email hoặc tên đăng nhập:</label>
        <input type="text" name="EmailOrUsername" id="EmailOrUsername" class="form-control" required />
    </div>

    <input type="submit" value="Gửi yêu cầu" class="btn btn-primary" />

    <br />
    <br />


    if (ViewBag.Success != null)
    {
        <div class="alert alert-success">
            @ViewBag.Success
        </div>
    }

    
    if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">
            @ViewBag.Error
        </div>
    }
}