@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = "Đăng nhập";
}

<h2>Đăng nhập</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group mb-3">
        <label>Email hoặc tên đăng nhập:</label>
        <input type="text" name="LoginIdentifier" class="form-control" placeholder="Nhập email hoặc tên đăng nhập" required />
    </div>

    <div class="form-group mb-3">
        <label>Mật khẩu:</label>
        <input type="password" name="Password" class="form-control" required />
    </div>

    <input type="submit" value="Đăng nhập" class="btn btn-primary" />

    <br />
    <br />

    <a href="@Url.Action("ForgotPassword", "LoginUser")" class="btn btn-warning">
        Quên mật khẩu?
    </a>

    <br />
    <br />
    <span style="color:red">@ViewBag.Error</span>
}