<footer class="bg-light text-muted mt-5 pt-4 border-top">
    <div class="container text-center">
        <h5 class="text-primary fw-bold">4 Chang Linh Ngu Lam</h5>
        <p>Địa chỉ: 69/20 Quốc lộ 22, Hóc Môn, TP.HCM</p>
        <p>Hotline: 0939 004 918 | Email: lienhe@banhbaotuandat.com</p>
        <div class="social-links my-2">
            <a href="#" class="text-primary mx-2"><i class="fab fa-facebook fa-lg"></i></a>
            <a href="#" class="text-danger mx-2"><i class="fab fa-instagram fa-lg"></i></a>
            <a href="#" class="text-success mx-2"><i class="fab fa-tiktok fa-lg"></i></a>
        </div>
        <div class="small text-secondary mt-3">
            © @DateTime.Now.Year Bánh Bao Tuấn Đạt - All rights reserved
        </div>
    </div>
</footer>