@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<link href="~/Content/stylepro.css" rel="stylesheet" />

<h2>Đăng ký tài khoản</h2>
<form  method="post" name="frmDK">
    <label>Họ tên:</label><br />
    <input type="text" name="hoten" /><br />
    <label>Email:</label><br />
    <input type="email" name="email" /><br />
    <label>Mật khẩu:</label><br />
    <input type="password" name="matkhau" /><br />
    <input type="submit" value="Đăng ký" />
</form>
