@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = "Đăng nhập";
}

<h2>Đăng nhập</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label>Email:</label>
        <input type="text" name="EmailCus" class="form-control" required />
    </div>

    <div class="form-group">
        <label>Số điện thoại:</label>
        <input type="text" name="PhoneCus" class="form-control" required />
    </div>

    <br />
    <input type="submit" value="Đăng nhập" class="btn btn-primary" />

    <br />
    <span style="color:red">@ViewBag.Error</span>
}